@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {}

.footer-wrap-box_title {
	font-size: 3rem;
	letter-spacing: 1.5px;
}


//modal
.modal .close-modal{
	top: 0;
	right: 20px;
}

// ≥992px
@include media-breakpoint-down(md) {

	//header
	//======
	.header {
		background-position: center center, right bottom;
	}

	.header-top .header-nav ul li {
		margin-right: 20px;
	}

	.header-box-wrapper .header-box-text {
		max-width: 300px;
		margin: 30px 0;
	}

	//abut
	//======
	.about-wrap {
		width: 100%;
	}

	//all pets
	//===========

	.all-pets-wrap-box{
		width: 100%;
		justify-content: space-around;
	}
	.all-pets-wrap-box-item{
		width: 32%;
	}


	//footer
	//==========


	.footer-wrap {
		background-position: right 20px;
	}

	.footer-wrap-box {
		width: 33%;
		margin-top: 50px;
	}

	.footer-wrap-box_title {
		font-size: 2.5rem;
		letter-spacing: 1.5px;
	}

	.footer-wrap-box_item {
		font-size: 1.7rem;
	}

}

// ≥768px
@include media-breakpoint-down(sm) {
	//header
	//======

	.header {
		background-position: center center, right bottom;
	}

	.header-top .header-logo {
		width: 40%;
	}

	.header-top .header-nav {
		display: none;
	}

	.header-box-wrapper .header-box-text {
		max-width: 300px;
		margin: 30px 0;
	}

	.header-top{
		padding: 50px 0 0 0;
	}

	//abut
	//======
	.about-wrap {
		flex-wrap: wrap;
		padding: 50px 0;
	}

	.about-wrap .left-box {
		width: 100%;
		order: 2;
	}

	.about-wrap .right-box {
		width: 100%;
		order: 1;
	}

	.about-wrap .right-box .right-box_title {
		font-size: 3rem;
		letter-spacing: 1.5px;
		text-align: center;
		line-height: 40px;
	}

	.about-wrap .right-box .right-box_text {
		margin-top: 20px;
	}

	.about-wrap .left-box .left-box_pets {
		display: block;
		margin: 0 auto;
		margin-top: 20px;

	}

	//pets
	//===========
	.pets-wrap_title {
		line-height: 40px;
		padding: 50px 0;
		font-size: 3rem;
		letter-spacing: 1.5px;
	}

	//all pets
	//===========

	.all-pets-wrap-box-item{
		width: 45%;
	}
	
	//help
	//========

	.help {
		padding: 50px 0;
	}

	.help-wrap_title {
		font-size: 3rem;
		letter-spacing: 1.5px;
		line-height: 40px;
	}

	.help-wrap-options {
		margin-top: 50px;
	}

	.help-wrap-options-box-top {
		width: 100%;
		margin: 0 auto;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.help-wrap-options-box-top-item {
		padding-bottom: 15px;
		width: 50%;
	}

	.help-wrap-options-box-top-item:nth-child(5) {
		display: none;
	}

	.help-wrap-options-box-top_title {
		margin-top: 15px;
	}

	.help-wrap-options-box-bottom {
		width: 100%;
		margin: 0 auto;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	//donation
	//===========

	.donation {
		padding: 50px 0;
	}

	.donation-wrap {
		flex-wrap: wrap;
	}

	.donation-wrap-left {
		width: 100%;
		padding-right: 0;
		order: 2;
		padding-top: 20px;
	}

	.donation-wrap-left img {
		display: block;
		margin: 0 auto;
	}

	.donation-wrap-right {
		width: 100%;
		order: 1;
		text-align: center;
	}

	.donation-wrap-right_bank,
	.donation-wrap-right_text {
		margin: 0 auto;
	}

	.donation-wrap-right_text {
		margin-top: 20px;
	}

	.donation-wrap-right_title {
		font-size: 3rem;
		letter-spacing: 1.5px;
		line-height: 40px;
		text-align: center;
	}

	//footer
	//==========

	.footer-wrap {
		flex-wrap: wrap;
	}

	.footer-wrap-box {
		width: 51%;
		padding-bottom: 0;
		margin-top: 15px;
	}

	.footer-wrap-box:nth-child(2) {
		padding-bottom: 30px;
	}

	.footer-wrap-box:last-child {
		display: none;
	}

	.footer-wrap-box_title {
		font-size: 2.2rem;
	}

	.footer-wrap-box_item {
		margin: 15px 0;
		padding-left: 30px;
	}

	.footer-wrap-box_item__email::after {
		width: 20px;
		height: 13px;
		top: calc(50% - 6.5px);
	}


	.footer-wrap-box_item__tell::after {
		width: 20px;
		height: 16px;
		top: calc(50% - 8px);
	}

	.footer-wrap-box_item__boston,
	.footer-wrap-box_item__london {
		padding-left: 25px;
		margin-bottom: 15px;
		margin-top: 15px;
	}

	.footer-wrap-box_item__boston::after,
	.footer-wrap-box_item__london::after {
		content: '';
		width: 13px;
		height: 18px;
		top: calc(50% - 9px);
	}

		//modal
		//==========

	.modal-content-wrap-left {
		display: flex;
		align-items: center;
	}

	.modal-content-wrap-right_title{
		font-size: 2.8rem;
		line-height: 30px;
	}

	.modal-content-wrap-right_text {
		line-height: 20px;
		margin: 10px 0;
	}

	.modal-content-wrap-right_list {
		font-size: 1.4rem;
	}

	.modal-content-wrap-right_item {
		margin-top: 7px;
	}

}


// ≥576px
@include media-breakpoint-down(xs) {

	//header
	//======

	.header {
		background: url(../img/Background.png) no-repeat center center;
	}

	.header-top .header-logo {
		width: 65%;
	}

	.header-box-wrapper {
		width: 100%;
		text-align: center;
	}

	.header-box-wrapper .header-box_title {
		font-size: 3rem;
		letter-spacing: 2px;
	}

	.header-box-wrapper .header-box-text {
		max-width: 100%;
	}

	.header-box-wrapper .header-box_link {
		margin: 0 auto;
	}


	//about
	//==========
	.about-wrap .right-box .right-box_title {
		line-height: 30px;
		font-size: 2.8rem;
	}

	.about-wrap .left-box .left-box_pets {
		width: 250px;
	}

	//pets
	//=======
	.pets-wrap_title {
		line-height: 30px;
		font-size: 2.8rem;
	}



	//help
	//============

	.help-wrap_title {
		line-height: 30px;
		font-size: 2.8rem;
	}

	//all pets
	//===========

	.all-pets-wrap_title{
		font-size: 2.8rem;
		letter-spacing: 1.5px;
		line-height: 30px;
	}
	.all-pets-wrap-box-item{
		width: 100%;
	}


	//donation
	//========
	.donation-wrap-right_title {
		line-height: 30px;
		font-size: 2.8rem;
	}

	.donation-wrap-right_bank {
		font-size: 1.7rem;
	}

	//footer
	//===========
	
	.footer-wrap {
		background:none;
	}

	.footer-wrap-box {
		width: 100%;
	}
	.footer-wrap-box_title {
		font-size: 2rem;
	}

		//modal
		//==========
		.modal{
			max-width: 80%;
		}
		.modal-content-wrap{
			max-height: 100vh;
			text-align: center;
			flex-wrap: wrap;
		}

		.modal-content-wrap-right{
			width: 100%;
			max-height: 40vh;
		}

		.modal-content-wrap-left img{
			max-width: 100%;
			height: 200px;
			display: block;
			margin: 0 auto;

		}

		.modal-content-wrap-left{
			width: 100%;
			max-height: 40vh;
			padding-top: 30px;

		}
	
		.modal-content-wrap-right_title{
			margin-top: 0;
		}
	
		.modal-content-wrap-right_text {
			display: none;
		}
	
		.modal-content-wrap-right_list {
			font-size: 1.4rem;
		}
	
		.modal-content-wrap-right_item {
			margin-top: 7px;
		}
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {}

// ≤768px
@include media-breakpoint-up(md) {}

// ≤992px
@include media-breakpoint-up(lg) {}

// ≤1200px
@include media-breakpoint-up(xl) {}