@import "vars";
// @import "fonts"; (локальный фрифт)
//font-family: 'Geo', sans-serif; (Link шрифт)
@import "libs";


// common settings
//================

html {
	font-size: 10px;
}

body {
	font-size: 1.5rem;
	min-width: 320px;
	position: relative;
	line-height: 1;
	// font-family: $default-font;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	color: #000;
}

.container {
	height: 100%;
	box-sizing: border-box;
}


//Site

//burger-menu

.burger {
	visibility: hidden;
	width: 30px;
	height: 24px;
	position: relative;
	cursor: pointer;
	margin-top: 22px;
	margin-right: 5%;
	z-index: 99;
}

.burger-line {
	display: block;
	position: absolute;
	left: 0;
	width: 30px;
	height: 2px;
	background-color: #fff;
	transition: .5s all ease;
	opacity: 1;
}

.burger:hover .burger-line {
	background-color: rgb(89, 115, 129);
}

.burger-line-first {
	top: 0;
}

.burger-line-second,
.burger-line-third {
	top: 8px;
}

.burger-line-fourth {
	top: 16px;
}

.burger-active:nth-child(1),
.burger-active:nth-child(4) {
	opacity: 0;
}

.burger-active:nth-child(2) {
	transform: rotate(45deg);
}

.burger-active:nth-child(3) {
	transform: rotate(-45deg);
}

.burger-list {
	//visibility: hidden;
	position: absolute;
	right: 0px;
	top: 0;
	bottom: 0;
	width: 0;
	height: 100vh;
	overflow: hidden;
	background-color: rgba(#180202, 0.985);
	z-index: 98;
	transition: all 0.5s ease-in-out;

	&-active {
		width: 100%;
	
	}

	ul{
		padding-top: 100px;
	}

	a{
		color: #f1cdb3;
		font-family: Georgia,sans-serif;
		text-align: center;
		font-size: 2rem;
		display: block;
		padding: 20px 30px;
		height: 20px;

		&:hover{
			color:  rgb(89, 115, 129);
		}
	}

}

//header
//======

.header {
	height: 100vh;
	min-height: 320px;
	background: url(../img/Background.png) no-repeat center center;
		// url(../img/Dog.png) no-repeat bottom right;
	background-size: cover, contain;
	background-position: center center, right bottom;
	background-blend-mode: overlay;
	//overflow: hidden;
	position: relative;
	img{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50%;
	}
}
.header-box-wrapper{
	margin-top: 40px;
}
.header-top {
	padding-top: 60px;
	display: flex;
	align-items: stretch;
}

.header-top .header-logo {
	width: 30%;
	cursor: pointer;
}

.header-top .header-logo .header-logo_title {
	font-size: 3.2rem;
	color: #f1cdb3;
	font-family: 'Georgia', sans-serif;
	letter-spacing: 1.13px;
	margin-bottom: 8px;
	display: block;
}

.header-top .header-logo .header-logo_subtitle {
	font-size: 1.3rem;
	letter-spacing: 1.3px;
	color: #fff;
}

.header-top .header-nav {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header-top .header-nav ul {
	height: 100%;
	display: flex;
	align-items: center;
}

.header-top .header-nav ul li {
	margin-right: 39px;
}

.header-top .header-nav ul li a {
	text-decoration: none;
	color: #cdcdcd;
	position: relative;
	width: 100%;
}

.header-top .header-nav ul li a::after {
	content: '';
	position: absolute;
	bottom: -8px;
	left: 0;
	height: 3px;
	width: inherit;
	border-radius: 2px;
	background-color: #f1cdb3;
	opacity: 0;
	transition: all 0.3s ease;
}

.header-top .header-nav ul li:hover a::after {
	opacity: 1
}

.header-box {
	display: flex;
	align-items: center;
	width: 100%;
	height: calc(100vh - 120px);
	position: relative;
	z-index: 5;
}

.header-box-wrapper .header-box_title {
	font-family: 'Georgia', sans-serif;
	font-size: 4.4rem;
	color: #fff;
	letter-spacing: 2.64px;
}

.header-box-wrapper .header-box-text {
	max-width: 460px;
	line-height: 24px;
	color: #cdcdcd;
	margin: 40px 0;
}

.header-box-wrapper .header-box_link {
	display: block;
	width: 200px;
	height: 50px;
	background-color: #f1cdb3;
	border-radius: 26px;
	line-height: 50px;
	text-align: center;
	color: #292929;
	font-family: 'Georgia', sans-serif;
	font-size: 1.7rem;
}

//About
//======

.about {
	background-color: #fafafa;
	overflow: hidden;
}

.about-wrap {
	width: 71%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding: 89px 0;
}


.about-wrap .left-box {
	width: 50%;
}

.about-wrap .left-box .left-box_pets {
	width: 300px;
	height: auto;
}

.about-wrap .right-box {
	width: 50%;
}

.about-wrap .right-box .right-box_title {
	font-size: 3.5rem;
	font-family: 'Georgia', sans-serif;
	color: #545454;
	letter-spacing: 2.1px;
}

.about-wrap .right-box p {
	color: #4c4c4c;
	line-height: 22px;
}

.about-wrap .right-box .right-box_desc {
	margin-top: 24px;
}

.about-wrap .right-box .right-box_text {
	margin-top: 26px;
}

//Pets
//======

.pets {
	background-color: #f6f6f6;
	overflow: hidden;
	text-align: center;
	padding-bottom: 65px;
}

.pets-wrap_title {
	text-align: center;
	color: #545454;
	font-family: 'Georgia', sans-serif;
	font-size: 3.5rem;
	padding: 70px 0;
	letter-spacing: 2.1px;
	line-height: 45px;
}

.pets-wrap-slider {
	width: 77%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.pets-wrap-slider-slide {
	background-color: #fafafa;
	text-align: center;
	margin-right: 20px;
	border-radius: 9px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	overflow: hidden;
}

.slick-prev {
	position: absolute;
	top: calc(50% - 25px);
	left: 0;
	border: none;
	font-size: 0;
	background: url(../img/long-left-arrow.png) no-repeat center center;
	width: 50px;
	height: 50px;
	border: 2px solid #f1cdb3;
	border-radius: 100%;
	margin-left: -80px;
}

.slick-next {
	position: absolute;
	top: calc(50% - 25px);
	right: 0;
	border: none;
	font-size: 0;
	background: url(../img/long-right-arrow.png) no-repeat center center;
	width: 50px;
	height: 50px;
	border: 2px solid #f1cdb3;
	border-radius: 100%;
	margin-right: -80px;
	transition: background-color 0.3s ease-in-out ;
}

.slick-next:hover,
.slick-prev:hover {
	background-color: #f1cdb3;
}

.pets-wrap-slider-slide:hover {
	box-shadow: 0 2px 30px rgba(13, 13, 13, 0.04);
}

.pets-wrap-slider-slide:last-child {
	margin-right: 0;
}

.pets-wrap-slider-slide .pets-wrap-slider-slide_img {
	width: 100%;
	height: 260px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 30px;
}

.pets-wrap-slider-slide .pets-wrap-slider-slide_img img {
	max-width: 100%;
	height: auto;
}

.pets-wrap-slider-slide .pets-wrap-slider-slide_title {
	color: #545454;
	font-family: 'Georgia', sans-serif;
	letter-spacing: 1.2px;
	font-size: 2rem;
}

.pets-wrap-slider-slide_link,
.btn {
	display: block;
	width: 190px;
	height: 52px;
	border-radius: 26px;
	border: 2px solid #f1cdb3;
	line-height: 52px;
	font-family: 'Georgia', sans-serif;
	font-size: 1.7rem;
	color: #292929;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 34px;
}

.pets-wrap-slider-slide:hover .pets-wrap-slider-slide_link {
	background-color: #f1cdb3;
}

.pets-wrap_link {
	background-color: #f1cdb3;
	width: 267px;
	margin: 0 auto;
	margin-top: 65px;
}


//help
//===========

.help {
	background-color: #fafafa;
	text-align: center;
	padding: 70px 0 70px 0;
	overflow: hidden;
}

.help-wrap_title {
	color: #545454;
	font-size: 3.5rem;
	letter-spacing: 2px;
	font-family: 'Georgia', sans-serif;
	line-height: 45px;
}

.help-wrap-options {
	margin-top: 80px;
}

.help-wrap-options-box-top,
.help-wrap-options-box-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.help-wrap-options-box-top {
	margin: 0 auto;
	margin-bottom: 75px;
	width: 96%;
}

.help-wrap-options-box-bottom {
	width: 73%;
	margin: 0 auto;
	margin-bottom: 75px;
}

.help-wrap-options-box-top-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.help-wrap-options-box-top_title {
	margin-top: 30px;
}


//donation
//==========

.donation {
	background-color: #f6f6f6;
	padding: 60px 0 80px 0;
	overflow: hidden;
}

.donation-wrap {
	display: flex;
	align-items: stretch;
}

.donation-wrap-left {
	width: 50%;
	padding-right: 60px;
}

.donation-wrap-left img {
	max-width: 100%;
	height: auto;
}

.donation-wrap-right {
	width: 50%;
}

.donation-wrap-right_title {
	color: #545454;
	font-size: 3.5rem;
	font-family: 'Georgia', sans-serif;
	letter-spacing: 2.1px;
	line-height: 45px;
}

.donation-wrap-right_more {
	color: #545454;
	font-family: 'Georgia', sans-serif;
	margin-top: 20px;
	margin-bottom: 10px;
	display: block;
}

.donation-wrap-right_bank {
	display: block;
	background-color: #f1cdb3;
	border-radius: 9px;
	max-width: 320px;
	padding-left: 60px;
	font-size: 2rem;
	line-height: 45px;
	position: relative;
}

.donation-wrap-right_bank::after {
	content: '';
	display: block;
	width: 30px;
	height: 24px;
	position: absolute;
	top: calc(50% - 12px);
	left: 12px;
	font-family: 'Times New Roman', serif;
	background: url(../img/credit-card.png) no-repeat center center;
}

.donation-wrap-right_text {
	color: #b2b2b2;
	letter-spacing: 0;
	max-width: 360px;
	font-size: 1.2rem;
	line-height: 18px;
	font-style: italic;
	margin-top: 30px;

}


//footer
//=======

.footer {
	background: url(../img/Background.png) no-repeat center center;
	background-size: cover;
	overflow: hidden;

}

.footer-wrap {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	background: url(../img/Dog-footer.png) no-repeat bottom right;
}

.footer-wrap-box {
	width: 29%;
	margin-top: 75px;
	padding-bottom: 50px;
}

.footer-wrap-box_title {
	font-family: 'Georgia', sans-serif;
	font-size: 3.5rem;
	color: #fff;
	letter-spacing: 2.1px;
}

.footer-wrap-box_item {
	font-size: 2rem;
	font-family: 'Times New Roman', serif;
	color: #f1cdb3;
	position: relative;
	padding-left: 60px;
	margin: 30px 0 30px 0;
}


.footer-wrap-box_item__email::after {
	content: '';
	display: block;
	width: 40px;
	height: 26px;
	position: absolute;
	top: calc(50% - 13px);
	left: 0;
	background: url(../img/envelope.png) no-repeat center center;
	background-size: cover;
}


.footer-wrap-box_item__tell::after {
	content: '';
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: calc(50% - 16px);
	left: 0;
	background: url(../img/telephone.png) no-repeat center center;
	background-size: cover;
}

.footer-wrap-box_item__boston,
.footer-wrap-box_item__london {
	padding-left: 46px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.footer-wrap-box_item__boston::after,
.footer-wrap-box_item__london::after {
	content: '';
	display: block;
	width: 26px;
	height: 36px;
	position: absolute;
	top: calc(50% - 18px);
	left: 0;
	background: url(../img/pin.png) no-repeat center center;
	background-size: cover;
}









@import "pets"; //page Pets
@import "modal";
@import "media"; // Always at the end