body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

	
.burger{
	visibility: visible;
	width: 30px;
	height: 24px;
	position: relative;
	cursor: pointer;
}

.burger-line{
	display: block;
	position: absolute;
	left: 0;
	width: 30px;
	height: 2px;
	background-color: #000;
    transition: .5s all ease;
    opacity: 1;
}

.burger-line-first{
	top: 0;
}

.burger-line-second, .burger-line-third{
	top: 8px;
}

.burger-line-fourth{
	top: 16px;
}

.burger-active .burger-line-first, .burger-active .burger-line-fourth {
    opacity: 0;
}

.burger-active .burger-line-second{
    transform: rotate(45deg);
}

.burger-active .burger-line-third{
    transform: rotate(-45deg);
}



