//Fonts
$lato-black: 'Lato-Black', sans-serif;
$lato-regular: 'Lato-Regular', sans-serif;
$sans-bold: 'OpenSans-Bold', sans-serif;
$sans-light: 'OpenSans-Light', sans-serif;
$sans-regular: 'OpenSans-Regular', sans-serif;
$sans-semibold: 'OpenSans-SemiBold', sans-serif;
$oswald-bold: 'Oswald-Bold', sans-serif;
$oswald-light: 'Oswald-Light', sans-serif;
$roboto-bold: 'Roboto-Bold', sans-serif;
$roboto-regular: 'Roboto-Regular', sans-serif;
$roboto-regularitalic: 'Roboto-RegularItalic', sans-serif;
$poppins-extrabold: 'Poppins-ExtraBold', sans-serif;

//Colors
$white: #fff;
$black: #000;
$myblack: #161e26;
$mygrey: #6c8784;
$navcolor: #ecf0f1;
$bgcolor: #eeeeee;
$bgicon: #2666ce;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1170px);

$gutter: $grid-gutter-width;
