@import "vars";
@import "fonts";
@import "libs";

// common settings
//================

html {
	font-size: 10px;
}

body {
	font-size: 1.4rem;
	min-width: 320px;
	position: relative;
	line-height: 1;
	font-family: $roboto-regular;
	font-weight: 400;
	overflow-x: hidden;
	color: $myblack;
}

.container {
	height: inherit;
	padding: 0;
}

.overlay {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: #000;
	background-image: url(../img/overlay.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 6349px;
	opacity: 0.4;
	z-index: 10;
	display: none;
}

//

//заголовлк секции
%sec-title {
	color: $myblack;
	font-family: $oswald-bold;
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 60px;
	padding-top: 50px;
}

%after-border {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	display: block;
	width: 70px;
	height: 1px;
	background-color: $myblack;
}




//Site

//nav-bar
//===========
.nav-bar-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;

	//height: 44px;
	.contacts {
		display: flex;
		align-items: center;
		margin-left: 40px;

		.item {
			display: flex;
			font-size: 1.2rem;
			letter-spacing: 0;

			&:last-child {
				margin-left: 15px;
			}

			&-icon {
				margin-right: 6px;
			}
		}
	}

	.socials {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin-right: 15px;

		.item {
			width: 24px;
			height: 24px;
			border-radius: 100%;
			margin-left: 9px;
			line-height: 24px;
			text-align: center;
			border: 1px solid rgba($myblack, 0.25);
		}
	}
}

//header
//=========
.header {
	padding-top: 30px;
	//height: 100vh;
	background: url(../img/header-bg.png) no-repeat;
	background-position-y: -160px;
	background-position-x: center;
	background-size: cover;
	//background-position-y: -50px; //убрать для 1920px
	overflow: hidden;

	.nav-bg {
		position: absolute;
		top: 44px;
		left: 0;
		width: 100%;
		height: 69px;
		box-shadow: 0 0 13px #000000;
		background-color: #003171;
		opacity: 0.4;
	}

	&-wrap {
		position: relative;
		height: 580px;

		.nav {
			position: absolute;
			top: -20px;
			left: 0;
			width: 100%;
			height: 69px;
			display: flex;
			justify-content: space-between;

			.logo {
				color: $navcolor;
				font-family: $sans-bold;
				font-size: 24px;
				cursor: pointer;
				padding-top: 20px;
				padding-left: 39px;

				span {
					font-family: $sans-regular;
				}
			}

			.menu {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);

				ul {
					display: flex;
					justify-content: space-around;
					align-items: center;
				}

				li {
					padding: 0 16.5px;
				}

				a {
					text-decoration: none;
					color: $navcolor;
					font-family: $sans-regular;
					font-size: 1.4rem;
					text-transform: uppercase;
					display: block;

					&:hover {
						transform: scale(1.15);
						color: yellow;
						transition: all .2s ease;
					}
				}

			}


		}

		.left-box {
			position: absolute;
			left: 9px;
			top: 48%;
			transform: translateY(-50%);
			max-width: 620px;

			h1 {
				color: $navcolor;
				font-family: $poppins-extrabold;
				font-size: 6rem;
				text-transform: uppercase;
				line-height: 70px;
			}

			.download {
				display: flex;
				align-items: center;
			}

			.download_btn {
				display: block;
				width: 192px;
				height: 55px;
				border: 1px solid $white;
				border-radius: 10px;
				padding-left: 80px;
				padding-top: 13px;
				font-size: 1.2rem;
				margin-right: 25px;
				margin-top: 70px;
				color: $white;
				font-family: "Poppins-Regular", serif;
				position: relative;

				&:hover {
					background-color: rgba(0, 0, 0, 0.15);
					transition: all .3s ease;
				}

				span {
					font-family: "Poppins-SemiBold", serif;
				}

				&::before {
					content: '';
					display: block;
					width: 32px;
					height: 36px;
					background: url(../img/header-google.png) no-repeat center center;
					background-size: cover;
					position: absolute;
					left: 24px;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			.download_apple::before {
				background: url(../img/header-apple.png) no-repeat center center;

			}

		}

		.right-box {
			position: absolute;
			right: 2%;
			top: 59%; //60% для 1920px
			transform: translateY(-50%);

			img {
				max-width: 100%;
				height: auto;
			}
		}
	}


}

//features
//==========

.features {
	padding-top: 27px;
	padding-bottom: 57px;

	h2 {
		@extend %sec-title;
		padding-top: 5px;
	}

	.features-wrap {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.box {

		&-left {
			padding-right: 77px;
			padding-bottom: 70px;
		}

		&-right {
			padding-left: 77px;
			padding-bottom: 70px;

		}

		.item {
			display: flex;
			align-items: flex-start;
			max-width: 300px;
			margin-top: 60px;

			&-img {
				display: block;
				width: 70px;
				height: 70px;
				border-radius: 100%;
				border: 1px solid #bfbfbf;
				color: $bgicon;
				text-align: center;
				font-size: 4.4rem;
				line-height: 70px;
				flex-shrink: 0;

				&__right {
					order: 1;
				}
			}

			&-img__pc {
				width: 70px;
				height: 70px;
				background: url(../img/features-pc.png) no-repeat center center;
			}

			&-content {
				margin-left: 30px;
				font-family: $roboto-regular;

				&__right {
					order: 0;
				}
			}

			h4 {
				color: $myblack;
				font-size: 1.8rem;
				position: relative;

				&::after {
					@extend %after-border;
				}
			}

			p {
				color: $mygrey;
				margin-top: 30px;

			}

			&-right {
				text-align: right;
				padding-right: 9px;

				h4::after {
					left: auto;
					right: 0;

				}

				.item-content {
					margin-left: 0;
					padding-right: 23px;
				}
			}

		}
	}


}

//music
//===========
.music {
	background: url(../img/music-bg.png) no-repeat center center;
	background-size: cover;

	&-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&-left {
			margin: 82px 0;
			width: 30%;
			position: relative;
			max-width: 300px;
		}

		&-left img {
			margin-left: 66px;
			opacity: 0.2;
			max-width: 100%;
			height: auto;

			&:nth-child(2),
			&:nth-child(3) {
				position: absolute;
				top: 0;
				left: 0;
				margin-left: 100px;
				max-width: 216px;
				max-height: 431px;
				opacity: 0.5;
			}

			&:nth-child(3) {
				margin-left: 145px;
				opacity: 1;
			}
		}

		&-right {
			width: 70%;
			max-width: 756px;

			&-subtitle,
			&-title,
			&-text,
			&-desc {
				color: $white;
				font-family: $lato-regular;
			}

			&-title {
				font-size: 3rem;
				margin-top: 20px;
				margin-bottom: 40px;
				position: relative;

				&::after {
					@extend %after-border;
					bottom: -4px;
					background-color: #fff;
				}
			}

			&-desc {
				margin-top: 20px;

				& span {
					font-family: $lato-black;
				}
			}
		}


	}
}

//screenshots
//=============
.screenshots {

	padding-bottom: 100px;

	h2 {
		@extend %sec-title;
	}

	&-boxes {
		padding-left: 15px;
		display: flex;
		width: 33.3%;
	}

	&-box img {
		border: 1px solid transparent;
	}

	&-box:nth-child(2) {
		display: flex;
		flex-wrap: wrap;
	}





}


//video
//==============
.video {
	background-color: #eeeeee;
	padding-bottom: 87px;

	h2 {
		@extend %sec-title;
		padding-top: 42px;
	}

	&-box {
		display: flex;
	}

	&-movie {
		position: relative;
		max-width: 697px;
	}

	&-movie-play {
		position: absolute;
		top: calc(50% + 15px);
		left: 50%;
		transform: translateX(-50%);

	}

	&-movie-play i {
		font-size: 7.2rem;
		color: #b90000;
		display: block;
		position: relative;
		z-index: 5;
	}

	&-movie-play-box {

		display: block;
		width: 47px;
		height: 37px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: calc(50% - 23px);
		background-color: #fff;
		z-index: 1;
	}

	&-movie-desc {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		max-width: 697px;
		background-color: #004058;
		opacity: 0.85;
		color: $white;
		font-family: $roboto-regular;
		padding-left: 43px;

		h4 {
			font-size: 1.8rem;
			padding-top: 30px;
			position: relative;

			&::after {
				@extend %after-border;
				bottom: -3px;
				width: 30px;
				height: 1px;
				background-color: $white;
			}
		}

		p {
			padding-top: 19px;
			padding-bottom: 14px;
		}

	}

	&-list {
		margin-left: 28px;
		background-color: $myblack;
		opacity: 0.8;
		color: $white;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		&-item {
			display: flex;
			align-items: center;
			padding: 10px;

			& img {
				box-shadow: 0px 0px 0px 2px #fff;
			}

			&-box {
				padding-left: 32px;
				color: $white;
				font-family: $roboto-regular;
				font-size: 1.8rem;

				& p {
					padding-top: 25px;
					font-size: 1.4rem;
				}

				& h4 {
					position: relative;
				}

				& h4::after {
					@extend %after-border;
					bottom: -3px;
					width: 30px;
					height: 1px;
					background-color: $white;
				}
			}
		}

		&-active {
			background-color: #293d51;
			opacity: 0.8;
		}
	}


}

//app
//============
.app {

	padding-bottom: 57px;

	h2 {
		@extend %sec-title;
		padding-top: 42px;
	}

	&-items {
		display: flex;
		text-align: center;
		justify-content: space-around;
	}

	&-item-box {
		width: 84px;
		height: 97px;
		position: relative;
		background: url(../img/app-figure.png) no-repeat center center;
		margin: 0 auto;
		font-size: 50px;
		line-height: 97px;
		color: #fff;
	}

	&-item {

		position: relative;
		width: 33%;
		padding-bottom: 5px;

		&::after {
			content: '';
			display: block;
			width: 1px;
			height: 167px;
			background-color: $myblack;
			position: absolute;
			right: 0;
			bottom: 0;
		}

		&:first-child {
			padding-left: 45px;

			&::after {
				right: -15px;
			}
		}

		&:nth-child(2)::after {
			right: 5px;
		}



		&:last-child {
			padding-right: 45px;

			&::after {
				display: none;
			}
		}


		h4 {
			color: $myblack;
			font-family: $roboto-regular;
			font-size: 1.8rem;
			position: relative;
			margin: 30px 0;

			&::after {
				@extend %after-border;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		p {
			color: $mygrey;
			font-family: $roboto-regular;
			max-width: 202px;
			margin: 0 auto;
			line-height: 1.2;
		}
	}
}

//stats
//==============
.stats{
	background: url(../img/stats-bg.png) no-repeat center center;

	&-wrap{
		display: flex;
		justify-content: space-around;
		color: $white;
		text-transform: uppercase;
		padding: 40px 55px;
		text-align: center;

	}

	&-item{
		position: relative;
	}

	&-item::after{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		width: 1px;
		height: 131px;
		background-color: #fff;
		margin-right: -60px;
	}

	& span{
		font-family: $lato-regular;
		font-size: 7.2rem;
	}

	& p{
		margin-top: 23px;
		font-family: "Poppins-Regular", sans-serif;
		font-size: 1.8rem;
	}





}












@import "media"; // Always at the end