@import "vars";
@import "fonts";
@import "libs";
//@import "../libs/slick/slick.css";
//@import "../libs/slick/slick-theme.css";

::placeholder {
	color: #666;
}

// ::selection {
// 	// background-color: $accent;
// 	// color: #000;
// }


html {
	font-size: 10px;
}

body {
	min-width: 320px;
	position: relative;
	//line-height: 1.65;
	font-family: "Raleway"; //$default-font;	
	overflow-x: hidden;
	color: $text;

	input,
	textarea {
		border: #666 1px solid;
		outline: none;

		&:focus:required:invalid {
			border-color: red;
		}

		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;

	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b,
strong {
	font-weight: bold;
}

a,
a:hover,
a:active,
a:focus,
button,
input,
button:hover,
button:active,
button:focus,
input:focus,
input:active {
	text-decoration: none;
	outline: none;
}

ul,
li {
	display: block;
	padding: 0px;
	margin: 0px;
}

//m-menu


.m-menu {
	// display: none;
	width: 20px;
	height: 12px;
	// background-color: #494141;
	text-align: center;
	position: relative;
	color: #000;
	line-height: 20px;

}

#check-menu {
	display: none;
}

.label-menu {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 200;
	line-height: 20px;
}

.burger-line {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 20px;
	height: 2px;
	background-color: #000;
	transition: .5s all ease;
}

.second,
.third {
	top: 6px;
}

.fourth {
	top: 12px;
}

.main-menu {
	position: absolute;
	top: 50px;
	right: 0;
	display: block;
	width: 320px;
	transform: translateX(100%);
	max-height: 0;
	font-size: 0;
	overflow: hidden;
	transition: .5s all ease;
	z-index: 10;
}

.main-menu_link {
	display: block;
	width: 100%;
	text-decoration: none;
	background-color: #1b4b66;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	line-height: 50px;
	color: #fff;
	text-transform: uppercase;
}

.main-menu_link:hover {
	background-color: #5e5555;
	transition: .5s all ease;

}

#check-menu:checked~.main-menu {
	max-height: 500px;
	font-size: 16px;
}

#check-menu:checked~.first {
	display: none;
}

#check-menu:checked~.second {
	transform: rotate(45deg)
}

#check-menu:checked~.third {
	transform: rotate(-45deg)
}

#check-menu:checked~.fourth {
	display: none;
}


.nav-trigger {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.btn {
	width: 205px;
	height: 50px;
	background-color: #eef0f2;
	border: 1px solid #dadcdf;
	border-radius: 25px;
	margin: 0 auto;
	text-align: center;
}

.btn:hover {
	background-color: #b9bbbd;

}

.btn:active {
	box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

.btn-link {
	text-decoration: none;
	font-family: $Lato-Regular;
	font-weight: 400;
	font-size: 1.6rem;
	color: #26272d;
	line-height: 50px;
	width: 100%;
	text-align: center;
}

.padding0 {
	padding: 0;
}


//red button
.button {
	width: 200px;
	height: 45px;
	background-color: #e84545;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3rem;
	color: #fff;
	text-transform: uppercase;
	font-family: "Raleway";
	cursor: pointer;
	transition: all 0.25s ease;
	border-radius: 4px;
	margin: 0 auto;
}

.button:active {
	box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.4);
}

.button:hover {
	background-color: rgb(219, 41, 41);
}


//Site

//header


.header {
	position: relative;
}

.header-row {
	position: absolute;
	width: 100%;
	height: 100px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	font-weight: 400;
	line-height: 100px;
}

.header-menu ul {
	display: flex;
	justify-content: space-between;
}

.header-menu a {
	font-size: 1.3rem;
	text-transform: uppercase;
	opacity: 0.75;
	color: #fff;
	font-family: "Raleway";
	font-weight: 700;
	padding-bottom: 3px;
}

.header-menu a:hover {
	transition: all 0.25s ease;
	opacity: 1;
	border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}


//first

#first {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url(../img/bg_first.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;

}

.first_title {
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 6.5rem;
	text-transform: uppercase;
	margin: 0;
	padding: 0;

}

.first_subtitle {
	font-size: 2.2rem;
	font-family: "Raleway";
	font-weight: 400;
}

.header-button {
	margin-top: 70px;
}


//features
#features {
	padding: 120px 0;
}

.features-upper{
	margin-bottom: 60px;
}

.features-box {
	text-align: center;
}

.features-box__title {
	font-family: "Raleway";
	font-size: 1.4rem;
	font-weight: 700;
	margin: 30px 0 18px 0;
}

.features-box__text {
	font-family: "Raleway";
	font-size: 1.4rem;
	color: #6c7279;
	margin: 0;
}


//works


.works{
	width: 100%;
	display: flex;
	flex-flow: wrap;
}
.work{
	width: 25%;
	height: 350px;
	background-image: url(../img/work-1.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	border: 1px solid #fff;
	z-index: 1;
}

.work:nth-child(2){
	background-image: url(../img/work-2.png);
}

.work:nth-child(3){
	background-image: url(../img/work-3.png);
}

.work:nth-child(4){
	background-image: url(../img/work-4.png);
}

.work:nth-child(5){
	background-image: url(../img/work-5.png);
}

.work:nth-child(6){
	background-image: url(../img/work-6.png);
}

.work:nth-child(7){
	background-image: url(../img/work-7.png);
}

.work:nth-child(8){
	background-image: url(../img/work-8.png);
}

.work-inner{
	opacity: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 155px 0;
	background-color: rgba(232, 69, 69, 0.9);
}

.work-inner h4{
	color: #fff;
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
}

.work-inner p{
	color: #fff;
	font-size: 1.4rem;
}

.work-inner:hover{
	opacity: 1;
	transition: all 0.35s ease;
	cursor: pointer;
}

//team


.team{
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.person-card{
	margin: 0 15px;
}

.person-card:first-child{
	margin-left: 0;
}

.person-card:last-child{
	margin-right: 0;
}


.person-card h4{
	font-size: 2.2rem;
	color: #2d3033;
	font-weight: 400;
	margin-top: 30px;
	margin-bottom: 0;
}

.person-card h5{
	text-transform: uppercase;
	color: #e84545;
	font-size: 1.3rem;
	font-weight: 400;
} 

.person-card p{
	font-size: 1.4rem;
	color: #6c7279;
	margin-bottom: 0;
}

.person-social{
	display: flex;
}

.person-social a{
	display: block;
	height: 40px;
	width: 40px;
}

.person-fb{
	background: url(../img/icon-fb.png) no-repeat top center;
}

.person-tw{
	margin: 0 4px;
	background: url(../img/icon-tw.png) no-repeat top center;
}

.person-in{
	background: url(../img/icon-in.png) no-repeat top center;
}

//reviews

#reviews{
	margin-top: 100px;
}

.slick-slider{
	width: 100%;
	position: relative;
}


.review-photo{
background-image: url(../img/review-1.png);
background-position: top center;
background-repeat: no-repeat;
height: 500px;
width: 50%;
float: left;
}

.review-inner{
	height: 500px;
	background-color: #53354a;
	padding: 110px 0 0 85px;
	float: right;
	width: 50%;
	color: #fff;
	
}

.review-inner p{
	font-size: 3.6rem;
	font-family: "Cardo";
	font-weight: 400;
	width: 500px;
}

.review-inner span{
	text-transform: uppercase;
	font-size: 1.3rem;
	font-weight: 700;
}

ul.slick-dots{
	position: absolute;
	margin-left: 300px;
	bottom: 20%;
	right: 20%;
	width: 120px;
}

.slick-dots li{
	width: 12px;
}

.slick-dots li button:before{
	background-color: #fff;
	content: "";
	border-radius: 50%;
	width: 12px;
	height: 12px;
	text-align: center;
}

.slick-dotted.slick-slider {
	margin-bottom: 0;
}

//download

.down-wrap{
	text-align: center;
	width: 100%;
	margin: 100px 0;
	color: #2d3033;
}

.down-title{
	font-weight: 300;
	font-size: 2.8rem;
}

.down-text{
	font-size: 1.3rem;
	font-weight: 700;
	margin: 11px 0 30px 0;
}

.button-down{
	height: 46px;
	width: 260px;
}



//footer
#footer{
	background-color: #3a3e64;
}

.footer-first{
	padding: 70px 0 80px 0;
}

.location{
	text-align: center;	
}

.footer-subtitle{
	text-align: center;
	font-size: 1.4rem;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.footer-text{
	color: #9c9eb2;
}

.footer-social_link{
	justify-content: center;
}

.location_text, .footer-text{
	text-align: center;
	font-size: 1.4rem;
	font-weight: 400;
}

.footer-P{
 background-color: #313454;

}

.footer-PS{
	padding: 30px 0;
	color: #808080;
	font-size: 1.4rem;
}

.footer-PS_text{
	text-align: center;
}

.footer-icon{
	color: #e84545;
}

.footer-autor{
	color: #fff;
}
















































@import "media"; // Always at the end