 //@import "vars";

 /*==========  Desktop First  ==========*/
 // // ≥1200px
 //@media screen and (max-width:1200px) {}
 //@include media-breakpoint-down(lg) {}

 // // ≥992px
 // @media screen and (max-width:992px) {}
 //@include media-breakpoint-down(md) {}

 // // ≥768px
 //@media screen and (max-width:768px) {}
 //@include media-breakpoint-down(sm) {}

 // // ≥576px
 //@media screen and (max-width:576px) {}
 //@include media-breakpoint-down(xs) {}




 // /*==========  Mobile First  ==========*/

 // // ≤600px
 @media screen and (min-width:600px) {
 	.header-menu__btn {
 		margin-right: 25px;
 	}

 	.header-wrap {
 		padding: 0;
 	}

 	.first-lines__graph {
 		top: -180px;

 		svg {
 			height: 300px;
 		}
 	}

 	.expertise-header__text {
 		max-width: 560px;
 	}

 	.introduction {
 		margin-top: 0;

 		&::before {
 			transform: rotate(-4deg);
 			margin: 35px 0;
 		}

 		.introduction-wrap {
 			padding: 120px 0;
 			margin: 0 auto;
 		}
 	}
 }

 //768
 @media screen and (min-width:767px) {

 	.expertise-header {
 		max-width: 650px;
	 }
	 
	  .expertise-header__subtitle--line{
			left: -36px;
		}


 	.expertise-header__text {
		margin: 28px auto;
		padding: 50px 0;

 		&::after,
 		&::before {
 			content: '';
 			position: absolute;
 			width: 310px;
 			height: 100%;
 			bottom: 0;
 			top: 0;
 			left: -205px;
 			background: url(../img/expertise-header-left.svg) no-repeat center center;
 			background-size: contain;
 		}

 		&::after {
 			left: auto;
 			right: -205px;
 			background: url(../img/expertise-header-right.svg) no-repeat center center;
 			background-size: contain;
 		}
	 }
	 
	 .expertise-header__text--line {
		top: 41px;
}

 }

 // // ≤992px
 @media screen and (min-width:991px) {

 	.header .header-wrap {
 		flex-wrap: nowrap;
 	}

 	.header .header-contact {
 		order: 1;
 		width: auto;
 	}

 	.header-contact__tell--main {
 		display: block;
 	}

 	.header-contact__btn {
 		&::after {
 			@include arrow-down;
 		}
 	}

 	.header-contact__list ul {
 		left: auto;
 		right: 0;
 	}

 	.header-menu__btn {
 		display: block;
 	}

 	.header .header-logo {
 		order: 2;
 	}

 	.header .header-menu {
 		order: 3;
 	}

 	.first {
 		margin-top: 50px;
 	}

 	.first-box {
 		flex-wrap: nowrap;
 	}

 	.first .first-content {
 		order: 1;
 	}

 	.first .first-seo {
 		order: 2;
 		margin-top: 0;
 	}

 	.first-lines__graph {
 		top: -230px;

 		svg {
 			height: 370px;
 		}
 	}


 	.introduction {
 		margin-top: -30px;

 		&::before {
 			transform: rotate(-4deg);
 			margin: 45px 0;
 		}

 		.introduction-wrap {
 			padding: 175px 0;
 			margin: 0 auto;
 		}
 	}

 	.introduction .introduction__title {
 		font-size: 4.1rem;
	 }
	 
	 .expertise-header {
		max-width: 800px;
	}

 	.expertise-header__title {
 		font-size: 4.1rem;
 	}

 	.expertise-header__text {
 		max-width: 690px;
		 font-size: 2.5rem;
		 padding: 70px 0;
	 }
	 
 	.expertise-body__title {
 		margin: 80px auto 50px;
 	}

 	.expertise-header__subtitle::before {
 		content: '';
 		left: -52px;
 	}
 }





 @media screen and (min-width:1200px) {
 	.first .first-lines {
 		margin-top: 127px;
 	}

 	.first-lines__graph {
 		top: -320px;

 		svg {
 			height: 560px;
 		}
 	}

 	.introduction {
 		margin-top: -45px;

 		&::before {
 			transform: rotate(-4deg);
 			margin: 70px 0;
 		}

 		.introduction-wrap {
 			padding: 200px 0;
 			margin: 0 auto;
 		}
 	}

 	.expertise-header__text {
 		font-size: 3rem;
 	}
 }