 //@import "vars";

 /*==========  Desktop First  ==========*/
 // // ≥1200px
 //@media screen and (max-width:1200px) {}
 //@include media-breakpoint-down(lg) {}

 // // ≥992px
 // @media screen and (max-width:992px) {}
 //@include media-breakpoint-down(md) {}

 // // ≥768px
 //@media screen and (max-width:768px) {}
 //@include media-breakpoint-down(sm) {}

 // // ≥576px
 //@media screen and (max-width:576px) {}
 //@include media-breakpoint-down(xs) {}




 // /*==========  Mobile First  ==========*/

 // // ≤600px
 @media screen and (min-width:600px) {
 	.header-menu__btn {
 		margin-right: 25px;
 	}

 	.header-wrap {
 		padding: 0;
 	}

 	.first-lines__graph {
 		top: -180px;

 		svg {
 			height: 300px;
 		}
 	}

 	.expertise-header__text {
 		max-width: 560px;
 	}

 	.introduction {
 		margin-top: 0;

 		&::before {
 			transform: rotate(-4deg);
 			margin: 35px 0;
 		}

 		.introduction-wrap {
 			padding: 120px 0;
 			margin: 0 auto;
 		}
 	}
 }

 //768
 @media screen and (min-width:767px) {

 	.expertise-header {
 		max-width: 650px;
 	}

 	.expertise-header__subtitle--line {
		 left: -36px;
 	}


 	.expertise-header__text {
 		margin: 28px auto;
 		padding: 50px 0;

 		&::after,
 		&::before {
 			content: '';
 			position: absolute;
 			width: 310px;
 			height: 100%;
 			bottom: 0;
 			top: 0;
 			left: -235px;
 			background: url(../img/expertise-header-left.svg) no-repeat center center;
			 background-size: contain;
			 pointer-events: none;
 		}

 		&::after {
 			left: auto;
 			right: -235px;
 			background: url(../img/expertise-header-right.svg) no-repeat center center;
 			background-size: contain;
 		}
 	}

 	.expertise-header__text--line {
		 top: 33px;
		 left: 20px;
 	}

 }

 // // ≤992px
 @media screen and (min-width:991px) {

 	.header .header-wrap {
 		flex-wrap: nowrap;
 		margin-top: 27px;
 		padding: 0 30px;

 	}

 	.header .header-contact {
 		order: 1;
 		width: auto;
 	}

 	.header-contact__tell--main {
 		display: block;
 	}

 	.header-contact__btn {
 		&::after {
 			@include arrow-down;
 		}
 	}

 	.header-contact__list ul {
 		left: auto;
 		right: 0;
 	}

 	.header-menu__btn {
 		display: block;
 	}

 	.header .header-logo {
 		order: 2;
 	}

 	.header .header-menu {
 		order: 3;
 	}

 	.first {
 		padding-top: 50px;
 	}

 	.first-box {
 		flex-wrap: nowrap;
 	}

 	.first .first-content {
 		order: 1;
 		align-items: flex-start;
 		margin-left: 52px;
 	}

 	.first-content__title {
 		font-size: 4rem;
 		padding-top: 23px;
 		padding-bottom: 0;
 	}

 	.first-content__btn-wrap {
 		width: 395px;
 		margin: 5px 0;
 	}

 	.first-content__btn {
 		max-width: 395px;
 	}

 	.btn-dark::after,
 	.btn-dark::before {
 		max-width: 395px;
 	}


 	.first .first-seo {
 		order: 2;
 		margin-top: 0;
 		margin-left: 25px;
 		padding-top: 48px;
 	}

 	.first .first-lines {
		margin-top: 120px;
	}

	.first-lines__graph {
		top: -290px;

		svg {
			height: 470px;
		}
	}


 	.introduction {
 		margin-top: -10px;

 		&::before {
 			transform: rotate(-4deg);
 			margin: 45px 0;
 		}

 		.introduction-wrap {
 			padding: 160px 0;
 			margin: 0 auto;
 		}
 	}

 	.introduction .introduction__title {
 		font-size: 4.1rem;
 	}

 	.expertise-header {
		 max-width: 800px;
		 padding-top: 20px;
 	}

 	.expertise-header__title {
 		font-size: 4.1rem;
 	}

 	.expertise-header__text {
 		max-width: 690px;
 		font-size: 3rem;
 		padding: 65px 21px;
 		letter-spacing: 0.02em;
 	}

 	.expertise-body__title {
 		margin: 84px auto 60px;
 	}

 	.expertise-header__subtitle::before {
 		content: '';
 		left: -52px;
 	}
 }





 @media screen and (min-width:1200px) {
 	.first .first-lines {
 		margin-top: 120px;
 	}

 	.first-lines__graph {
 		top: -290px;

 		svg {
 			height: 470px;
 		}
 	}

 	.introduction {
 		margin-top: -55px;

 		&::before {
 			transform: rotate(-4deg);
 			margin: 70px 0;
 		}

 		.introduction-wrap {
 			padding: 180px 0;
 			margin: 0 auto;
 		}
 	}

 	.expertise-header__text {
 		font-size: 3rem;
 	}
 }