html {
	font-size: 10px;
	height: 100%;
}

body {
	font-size: 1.6rem;
	min-width: 320px;
	position: relative;
	line-height: 1;
	font-family: 'GothamPro', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	color: #000;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	letter-spacing: 0.02em;
}

main {
	flex: 1 1 auto;
}

body.lock {
	overflow: hidden;
}


//сетка страницы
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
@media screen and (max-width:1200px) {
	.container{
		max-width: 970px;
	}
}

@media screen and (max-width:992px) {
	.container{
		max-width: 750px;
	}
}

@media screen and (max-width:767px) {
	.container{
		max-width: none;
	}
}

//переменные
$sans300: 'MuseoSansCyrl-300',
sans-serif;
$sans500: 'MuseoSansCyrl-500',
sans-serif;
$sans700: 'MuseoSansCyrl-700',
sans-serif;
$sans900: 'MuseoSansCyrl-900',
sans-serif;
$got-black: 'GothamPro-Black',
sans-serif;
$got-bold: 'GothamPro-Bold',
sans-serif;
$got-light: 'GothamPro-Light',
sans-serif;
$got-medium: 'GothamPro-Medium',
sans-serif;
$got: 'GothamPro',
sans-serif;



//бургер меню
.burger{
	z-index: 100;
}

.m-menu {
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(100%);
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 99;
	transition: transform .3s ease-in-out;
	overflow: auto;

	&.active {
		transform: translateX(0);
	}

	.m-menu__list {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		li {
			margin: 15px;

			a {
				display: inline-block;
				color: #000;
				text-transform: uppercase;
				font-size: 2.2rem;

				&:hover {
				transform: scale(1.2);;
				}
			}
		}
	}
}


//общий стиль кнопки
.btn-shaddow {
	display: inline-block;
	background-color: #fff;
	padding: 14px 35px;
	font-size: 1.1rem;
	font-weight: 600;
	color: #000;
	cursor: pointer;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px -2px 1px rgba(0, 0, 0, 0.03);
	border-radius: 100px;

	&:hover {
		box-shadow: 0px 4px 10px 2px rgba(black, 0.1);
	}
}

//круглая кнопка
.btn-circle {
	display: inline-block;
	background-color: #fff;
	width: 40px;
	height: 40px;
	color: #000;
	cursor: pointer;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px -2px 1px rgba(0, 0, 0, 0.03);
	border-radius: 100%;
	position: relative;

	&:hover {
		box-shadow: 0px 4px 10px 2px rgba(black, 0.1);
	}
}

@mixin arrow-down {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 7px;
	height: 5px;
	background: url(../img/arrow-down.svg) no-repeat center center;
}

@mixin btn-phone {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 20px;
	height: 20px;
	background: url(../img/btn-phone.svg) no-repeat center center;
	background-size: contain;
}

.btn-dark {
	display: inline-block;
	background-color: #000;
	width: 100%;
	max-width: 310px;
	padding: 23px 25px;
	font-size: 1.2rem;
	font-weight: 900;
	color: #fff;
	cursor: pointer;
	text-align: center;
	border-radius: 100px;
	position: relative;
	&::after, &::before{
		content: '';
		position: absolute;
		top: 2px;
		left: 2px;
		width: 100%;
		max-width: 310px;
		height: 100%;
		border: 1px solid #000;
		border-radius: 100px;
	}

	&::before{
		top: 5px;
		left: 4px;
	}
}

	//стрелка перед заголовком
	.text-line{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 28px;
		height: 1px;
		background-color: #000;
	}