@import "vars"; //переменные, миксины
@import "fonts"; //шрифты
@import "libs"; //reset.css
//@import "_mixins/global"; //container сетка

.overlay {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: #000;
	background-image: url(../img/overlay.jpg);
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 14370px;
	opacity: 0.3;
	z-index: 10;
	display: none;
}


//Site


.header-line {
	width: 100%;
	height: 5px;
	background-color: #000;
}

.header-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 27px;
	padding: 0 20px;
	flex-wrap: wrap;
}

.header-contact {
	order: 1;
	margin: 10px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
}

.header-contact__btn {
	margin-left: 12px;
	position: relative;
	z-index: 11;

	&::after {
		@include btn-phone;
		color: #000;
	}
}

.header-contact__list ul {
	opacity: 0;
	position: absolute;
	z-index: 10;
	top: 50px;
	left: 0;
	min-width: 250px;
	background-color: #fff;
	padding: 10px;
	border-radius: 20px;
	border: 1px solid #000;
	transition: opacity 0.3s ease-in-out;
	pointer-events: none;

	li {
		margin: 15px 0;
	}
}

.header-contact__list--active ul {
	opacity: 1;
	pointer-events: auto;
}

.header-contact__tell {
	display: inline-block;
	line-height: 1.4;
	color: #000;

	span {
		font-weight: 900;
	}

	&:hover {
		transform: scale(1.1);
	}
}

.header-contact__tell--main {
	display: none;
}

.header-logo {
	order: 2;
	text-align: center;
}

.header-menu {
	order: 3;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-menu__btn {
	display: none;
	margin-right: 7px;
	text-transform: uppercase;
	padding: 14px 40px;
}

.burger {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 20px;
		height: 20px;
		background: url(../img/burger-icon.svg) no-repeat center center;
		background-size: contain;
	}
}

.burger.active {
	&::after {
		width: 20px;
		height: 20px;
		background: url(../img/burger-close.svg) no-repeat center center;
	}
}



//section first
.first {
	overflow: hidden;

	&-box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
}

.first-content {
	order: 2;
	flex: 0 1 450px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.first-content__title {
	font-weight: bold;
	font-family: $got-bold;
	font-size: 3.5rem;
	letter-spacing: 0.02em;
	line-height: 1.15;
	font-weight: 900;
	padding: 30px 0;
	position: relative;
}

.first-content__title--line {
	top: 20px;
	left: -2px;
}

.first-content__subtitle {
	margin: 17px 0 22px 0;
	font-size: 14px;
	line-height: 1.3;
	letter-spacing: 0.06em;
	font-family: $sans500;
	font-weight: 500;
}

.first-content__btn-wrap {
	margin: 40px 0;
	position: relative;
	width: 310px;
	max-width: 100%;
	z-index: 2;
	cursor: pointer;

	&::before {
		position: absolute;
		content: '';
		top: 0;
		right: 65px;
		width: 1px;
		height: 60px;
		background: rgba(255, 255, 255, 0.1);
		z-index: 3;
	}

	&::after {
		position: absolute;
		content: '';
		top: 50%;
		transform: translateY(-50%);
		right: 25px;
		width: 20px;
		height: 15px;
		z-index: 3;
		background: url(../img/arrow-right.svg) no-repeat center center;
	}

}

.first-content__btn {
	font-weight: bold;
	font-size: 1.2rem;
	text-align: center;
	letter-spacing: 0.0357143em;
	text-transform: uppercase;
	padding: 23px 70px 23px 25px;
}

.first-seo {
	order: 1;
	flex: 0 1 490px;
	margin-top: 90px;
}

.first-seo__title {
	position: relative;
	padding-left: 26px;
}

.first-seo__title img {
	max-width: 100%;
	height: auto;
}

.first-seo__expertise {
	position: absolute;
	top: -77px;
	left: 50%;
	height: 68px;
	width: 180px;
	transform: translateX(-63%);
	font-weight: bold;
	font-size: 24px;
	line-height: 48px;
	text-align: center;
	background: url(../img/first-seo__expertise.svg) no-repeat;
	overflow: visible;

	&::after,
	&::before {
		content: '';
		position: absolute;
		top: -3px;
		left: -3px;
		height: 68px;
		width: 180px;
		background: url(../img/first-seo__expertise.svg) no-repeat;
	}

	&::before {
		top: -6px;
		left: -6px;
	}
}

.first-seo__subtitle {
	margin-top: 18px;
	font-family: $got-bold;
	font-size: 1.4rem;
	line-height: 1.7;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.first-lines {
	margin-top: 30px;
	position: relative;
}

.first-lines__dotted {
	img {
		width: 100%;
		height: auto;
	}
}

.first-lines__graph {
	text-align: center;
	position: absolute;
	top: -110px;
	left: 0;
	right: 0;
	overflow: hidden;
	pointer-events: none;

	svg {
		height: 200px;
	}
}


//section first-end

//section introduction
.introduction {
	position: relative;
	margin-top: 20px;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		background-color: #000;
		top: 0;
		left: -100px;
		right: -100px;
		bottom: 0;
		z-index: -1;
		transform: rotate(-4deg);
		margin: 20px 0;
	}
}



.introduction-wrap {
	background: url(../img/introduction-seo.svg) no-repeat center center;
	background-size: contain;
	width: 100%;
	max-width: 930px;
	padding: 100px 0;
	margin: 0 auto;
}

.introduction__title {
	font-family: $got-bold;
	font-weight: 900;
	font-size: 3rem;
	color: #FFFFFF;
	width: 100%;
	max-width: 810px;
	margin: 0 auto;
}

//section introduction-end


//section expertise

.expertise {
	overflow: hidden;
}

.expertise-header {
	position: relative;
	max-width: 800px;
	margin: 20px auto 0 auto;
	text-align: center;
}

.expertise-header__subtitle {
	display: inline-block;
	margin-left: 44px;
	font-size: 1.3rem;
	letter-spacing: 0.23em;
	text-transform: uppercase;
	position: relative;

	&::before {
		//@include title-arrow;
		left: -42px;
	}
}

.expertise-header__title {
	max-width: 800px;
	margin: 25px auto;
	padding: 0 20px;
	background-color: #000;
	line-height: 1;
	font-family: $got-bold;
	font-size: 2.5rem;
	text-align: center;
	color: #fff;
	position: relative;
}

.expertise-header__subtitle--line {
	top: 50%;
	transform: translateX(-50%);
	left: -26px;
}

.expertise-header__text {
	max-width: 700px;
	margin: 20px auto;
	padding: 0;
	font-family: $got-light;
	font-size: 2rem;
	line-height: 1.45;
	position: relative;
	text-align: left;
}

.expertise-header__text--line {
	top: -10px;
}

.expertise-body {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
}

.expertise-body__title {
	font-family: $got-bold;
	font-size: 2.5rem;
	line-height: 1.45;
	max-width: 630px;
	margin: 30px auto 20px auto;
	padding-right: 50px;
}

.expertise-body__wrap {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.expertise-bulb {
	width: 100%;
	height: auto;
	max-width: 294px;
	height: 294px;
	margin-bottom: 13px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	padding: 90px 30px 0 50px;
	border: 1px solid #D3D3D3;
	border-radius: 100%;
	transition: opacity .3s ease-in-out;
	position: relative;
	cursor: default;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: linear-gradient(160.29deg, #777778 14.35%, #000000 86.81%);
		z-index: -1;
		border-radius: 100%;
		opacity: 0;
		transition: opacity .3s ease-in-out;
	}

	&::before {
		content: '01';
		position: absolute;
		top: 15px;
		left: -3px;
		font-family: $got-black;
		font-size: 4rem;
		text-transform: uppercase;
		color: #D7D7D7;
		opacity: .8;
	}

	&:hover::after {
		opacity: 1;
	}

	&:hover {
		color: #fff;
		transition: color .3s ease-in-out;
	}

	&:hover::before {
		z-index: -1;
	}
}

.expertise-bulb:nth-child(1)::before {
	left: 7px;
}

.expertise-bulb:nth-child(2)::before {
	content: '02';
}

.expertise-bulb:nth-child(3)::before {
	content: '03';
}

.expertise-bulb:nth-child(4)::before {
	content: '04';
}

.expertise-bulb:nth-child(5)::before {
	content: '05';
}

.expertise-bulb:nth-child(6)::before {
	content: '06';
}

.expertise-bulb__title {
	font-family: $got-medium;
	font-size: 1.6rem;
}

.expertise-bulb__text {
	margin-top: 7px;
	font-family: $sans500;
	font-size: 1.2rem;
	line-height: 1.5;
	letter-spacing: 0.04em;
}

.chat{
	margin-top: 80px;
}

.chat-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.chat-body {
	flex: 0 1 295px;
}

.chat-body__img-box{
	position: relative;
	z-index: 1;
	&::before{
		position: absolute;
		content: '';
		top: 15px;
		left: -2px;
		width: 75px;
		height: 25px;
		background: url(../img/Logo.svg) no-repeat center center;
		background-size: contain;
		z-index: 0;
	}
}

.chat-body__img {
	width: 294px;
	height: 294px;
	border: 1px solid #C6C6C6;
	border-radius: 100%;
	background-color: #D7D7D7;
	overflow: hidden;
	position: relative;
	z-index: 1;

	img {
		margin-top: 30px;
		max-width: 100%;
		height: auto;
	}
}

.chat-body__author {
	margin-top: 25px;
	text-align: center;
	letter-spacing: 0.23em;
	text-transform: uppercase;
	line-height: 1.45;
}

.chat-body__name {
	font-size: 1.3rem;
}

.chat-body__position {
	font-family: $got-bold;
	font-size: 1.1rem;
}

.chat-content{
	margin-top: 20px;
}

.chat-content__title {
	font-size: 4.1rem;
	line-height: 1;
	font-family: $got-bold;
}

.chat-content__writing {
	font-size: 0.8rem;
	font-family: $sans500;
	letter-spacing: 0.18em;
	text-transform: uppercase;
	line-height: 1.45;
	position: relative;
	padding-left: 20px;
	margin: 16px 0 20px 0;
}

.chat-content__writing-dot {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background-color: #000;

	&:nth-child(2) {
		left: 6px;
	}

	&:nth-child(3) {
		left: 12px;
	}
}

.chat-content__body {
	max-width: 435px;
	width: 100%;
	padding: 20px;
	border: 2px solid #D4D4D4;
	border-radius: 15px;
	font-family: $sans500;
	font-size: 1.4rem;
	line-height: 1.45;
	letter-spacing: 0.08em;
	color: #303030;
	position: relative;
	z-index: 1;
	background-color: #fff;
}

.chat-content__body-figure {
	position: absolute;
	bottom: -7px;
	left: -1px;
	width: 47px;
	height: 13.5px;
	z-index: 2;
}

.chat-content__text {
	margin-bottom: 20px;
}

.chat-content__begin{
	margin: 20px 0;
}

.chat-content__download-title {
	padding: 15px 25px;
	border: 2px solid #000;
	font-family: $sans500;
	font-size: 1.4rem;
	line-height: 1.45;
	letter-spacing: 0.08em;
	color: #000;
}

.chat-content__download, .chat-content__recall{
	margin-top: 15px;
	margin-left: 5px;
}

.chat-content__recall{
	margin-left: 3px;
}









//section expertise-end






@import "_mixins/modal"; //container сетка
@import "media"; // Always at the end