@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

html{
	font-size: 10px;
}

body {
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
	text-decoration: none;
	outline: none;
}



h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
} 

ul, li {
	display: block;
	padding: 0px;
	margin: 0px;
}


//Site

//#first

#first{
	background-color: #445162;
	padding: 50px 0;
}

.first-wrap{
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.first-box_item{
	display: flex;

}

.first-box_title{
	font-size: 6rem;
	line-height: 60px;
	margin-bottom: 45px;
	
}

.first-box_icon{
	background-image: url(../img/check_icon.png);
	background-repeat: no-repeat;
	width: 25px;
	height: 19px;
	margin-top: 8px;
	margin-right: 10px;
}

.first-box_text{
	font-size: 2rem;
	margin: 0;
	padding: 0;
}

.second-box_img{
	width: 469px;
	height: 214px;
	background-color: #fff;
}






@import "media"; // Always at the end
