@import "vars";
// @import "fonts";
// font-family: 'Playfair Display', serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Montserrat', sans-serif;
//font-family: 'Questrial', sans-serif;
@import "libs";

// common settings
//================

html{
	font-size: 10px;
}

body {
	font-size: 1.4rem;
	min-width: 320px;
	position: relative;
	line-height: 1;
	// font-family: $default-font;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}


//Site

//header
//=======

.header_wrap{
	position: relative;
	overflow: hidden;
}

.header_slider .slide_1{
	position: relative;
}

.header_slider .slide_1::after{
	content: 'olins';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 29rem;
	font-weight: 900;
	color: #7f5568;
	font-style: italic;
	margin-left: 15%;
	margin-top: -15px;
	opacity: 0.05;
}

.header_slider .slide_1 .slide-img img{
	max-width: 100%;
	height: auto;
	margin: 0 auto;
 }

.header_slider .slide_1 .slide-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header_slider .slide_1 .slide-box .slide-box_wrapper{
	max-width: 994px;
	width: 100%;
	padding-left: 90px;
	box-sizing: border-box;
}

.header_slider .slide_1 .slide-box .sub_title{
	font-family: 'Playfair Display', serif;
	font-size: 2.1rem;
	font-style: italic;
	color: #7f5568;
}

.header_slider .slide_1 .slide-box .title{
	font-size: 4.5rem;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1.1;
	margin-top: 12px;
	margin-bottom: 25px;
}

.header_slider .slide_1 .slide-box .readmore{
	display: flex;
	align-items: center;
	position: relative;
	z-index: 99;
}

.header_slider .slide_1 .slide-box .readmore a{
	font-weight: 500;
	font-size: 1.6rem;
	color: #7f5568;
	border-bottom: 1px solid #7f5568;
	text-decoration: none;
}

.header_slider .slick-arrow{
	position: absolute;
	top: 38%;
	right: 0;
	margin-right: 2%;
	font-size: 0;
	border: none;
	background: #d8c1c8 url(../img/right.svg) no-repeat center center;
	width: 41px;
	height: 41px;
	border-radius: 100%;
	z-index: 9999;
}

.header_slider .slick-prev{
	left: 0;
	margin-left: 2%;
	transform: scale(-1, 1)
}

.header_slider .slick-arrow:hover{
	background: #fee489 url(../img/arrow-hov.svg) no-repeat center center;
	transform: scale(-1, 1);

}

.header_slider .slick-prev:hover{
	transform: scale(1, 1);
}


//nav
//=============

.header_wrap{
	position: relative;
	overflow: hidden;
}

.header-nav{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: space-between;
	background-color: rgba(115,72,92,.9);
}

.header-nav .nav-logo{
	font-size: 4.3rem;
	color: #fff;
	font-weight: 900;
	font-style: italic;
	margin: 20px 0 0 27px;
	width: 20%;
}

.header-nav .nav-menu{
	width: 60%;
}

.header-nav .nav-menu .menu-list{
	width: 500px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto; 
}

.header-nav .nav-menu .menu-item a{
	font-size: 1.3rem;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

.header-nav .nav-menu .menu-item a:hover{
	color: #fee489;
	transition: all 300ms ease;
}
.header-nav .nav-cart{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 20%;
	margin-right: 2%;
}

.header-nav .nav-cart .cart-number{
	width: 21px;
	height: 21px;
	background-color: #fee489;
	text-align: center;
	line-height: 21px;
	border-radius: 100%;
	margin-left: 5px;
	cursor: pointer;
}

 //burger-menu	
 //===========
	
 .m-menu{
	display: none;
	width: 25px;
	height: 20px;
	//background-color: #494141;
	text-align: center;
	position: relative;
	color: #fee489;
	line-height: 20px;
	margin-top: 3px;
	margin-right: 20px;
}

#check-menu{
	display: none;
}

.label-menu{
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 200;
	line-height: 20px;
}

.burger-line{

	position: absolute;
	top: 0px;
	right: 0px;
	width: 20px;
	height: 2px;
	background-color: #fee489;
	transition: .5s all ease;

}

.second, .third{
	top: 6px;
}

.fourth{
	top: 12px;
}

#check-menu:checked ~ .first{
	display: none;
}

#check-menu:checked ~ .second{
	transform: rotate(45deg)
}

#check-menu:checked ~ .third{
	transform: rotate(-45deg)
}

#check-menu:checked ~ .fourth{
	display: none;
}

.m-menu-box{
	width: 100%;
	text-align: center;
	background-color: rgba(115,72,92,.9);
	display: none;
}


.show{
	display: block;
}

.m-menu-box .m-menu-list .m-menu-item a{
	display: block;
	width: 100%;
	padding: 10px 0;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.6rem;
	font-weight: 500;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.m-menu-box .m-menu-list .m-menu-item:nth-child(6) a{
	border-bottom: none;
}

.m-menu-box .m-menu-list .m-menu-item a:hover{
	color: #fee489;
}
 



//Section About
//=============

.about-wrap{
	display: flex;
	align-items: stretch;
}

.about-wrap .left-box{
	width: 50%;
	background: url(../img/work-space.jpg) no-repeat center center;
	background-size: cover;
}

.about-wrap .right-box{
	padding: 125px 100px 125px 90px;
	box-sizing: border-box;
	width: 50%;
}

.about-wrap .right-box .subtitle{
	font-family: 'Playfair Display', serif;
	font-size: 2.5rem;
	font-style: italic;	
	line-height: 1;
}

.about-wrap .right-box .title{
	font-size: 3.7rem;
	font-weight: 500;
	line-height: 1.4;
	margin-bottom: 15px;
}

.about-wrap .right-box .text{
	font-size: 1.4rem;
	color: #898989;
	line-height: 24px;
}


//section skills-and-team
//=======================

.skills-and-team-wrap{
	display: flex;
	align-items: stretch;
	overflow: hidden;
}

.skills-and-team-wrap .skills-box{
	width: 50%;
	padding-left: 125px;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.skills-and-team-wrap .skills-box .skill{
	// float: left;
	// margin-top: 30px;
    // margin-bottom: 30px;
    // margin-right: 80px;
    width: calc(50% - 80px);
}

.skills-and-team-wrap .skills-box .skill:nth-child(1),
.skills-and-team-wrap .skills-box .skill:nth-child(3){
	margin-right: 90px;
}

.skills-and-team-wrap .skills-box .skill:nth-child(1),
.skills-and-team-wrap .skills-box .skill:nth-child(2){
	margin-top: 115px;
	margin-bottom: 74px;
}

.skills-and-team-wrap .skills-box .skill:nth-child(3),
.skills-and-team-wrap .skills-box .skill:nth-child(4){
	margin-bottom: 90px;
}



// .skills-and-team-wrap .skills-box .skills-box-top,
// .skills-and-team-wrap .skills-box .skills-box-bott{
// 	display: flex;
// }

// .skills-and-team-wrap .skills-box .skills-box-top{
// 	//padding: 100px 180px 55px 140px;
// }

// .skills-and-team-wrap .skills-box .skills-box-bott{
// 	//padding: 0 180px 90px 140px;
// }

// .skills-and-team-wrap .skills-box .skill{
// 	width: 50%;
// }

// .skills-and-team-wrap .skills-box .skill:last-child{
// 	margin-left: 90px;
// }

.skills-and-team-wrap .skills-box .skill .skill_title{
	font-size: 1.6rem;
	font-weight: 900;
	text-transform: uppercase;
	//line-height: 30px;
	position: relative;
}

.skills-and-team-wrap .skills-box .skill .skill_title::before{
	content: '';
	background: url(../img/dot.svg) no-repeat center center;
	display: block;
	height: 6px;
	width: 6px;
	position: absolute;
	top: calc(50% - 3px);
	left: -15px;
}

.skills-and-team-wrap .skills-box .skill .skill_desc{
	font-size: 1.2rem;
	color: #898989;
	line-height: 18px;
	letter-spacing: 0px;
	margin-top: 17px;
}

.skills-and-team .right-box{
	background-color: #b7e3b9;
	width: 50%;
	padding-left: 90px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}


.right-box .box-arrows .slick-prev,
.right-box .box-arrows .slick-next{
	padding: 0;
	border: none;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -20px;
	text-indent: -9999px;
    background: #ec9b9b url(../img/left.svg) center center no-repeat;
	width: 40px;
	height: 40px;
	transition: all 0.3s ease;
}
.right-box .box-arrows .slick-next{
	margin-top: -60px;
	transform: scale(-1, 1)
}

.right-box .box-arrows .slick-prev:hover,
.right-box .box-arrows .slick-next:hover{
	background-color: #fee489;
	transition: all 0.3s ease;
}
.right-box .box-slider{
	text-align: center;
	text-transform: uppercase;
	position:absolute;	
	width: 75%;
    height:100%;

  /* Using flexbox */
    display: flex;
	align-items: center;
  /*----*/
}

.right-box .box-slider .box-slide{
	width: 33.3%;
}

.right-box .box-slider .box-slide .box-slide_img{
	position: relative;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.right-box .box-slider .box-slide .box-slide_img .social{
	width: 100%;
	height: 65px;
	background-color: rgba(74,99,74,0.8);
	position: absolute;
	left: 0;
	bottom: 0;
	transition: all 1s ease;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.right-box .box-slider .box-slide .box-slide_img img{
	max-width: 100%;
	height: auto;
}

.right-box .box-slider .box-slide .box-slide_img:hover .social{
	opacity: 1;
	transition: all 0.3s ease;
}

.right-box .box-slider .box-slide .box-slide_img:hover .social .social_tw{
	display: block;
	height: 20px;
	width: 20px;
	background: url(../img/social-tw.png);
}

.right-box .box-slider .box-slide .box-slide_img:hover .social .social_fb{
	display: block;
	height: 21px;
	width: 21px;
	background: url(../img/social-fb.png);
	margin-left: 10px;
}

.right-box .box-slider .box-slide_specialist {
	font-weight: 800;
	font-size: 1.8rem;
	margin: 27px 0 8px 0;
	text-align: center;
	text-transform: uppercase;
}

.right-box .box-slider .box-slide_posicion {
	font-size: 1rem;
	color: #557356;
	font-family: 'Questrial', sans-serif;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	display: block;
}


//story-and-contact
//=================

.story-and-contact{
	display: flex;
}

.story{
	width: 50%;
	display: flex;
	align-items: stretch;
	background: url(../img/blouse.jpg) no-repeat center center;
	background-size: cover;
}

.story .story-left{
	width: 65%;
	padding-left: 125px;
}

.story .story-left .story-left_title{
	font-size: 4.7rem;
	font-weight: 900;
	text-transform: uppercase;
	margin-top: 140px;
}

.story .story-left .story-left_link{
	display: block;
	width: 127px;
	height: 45px;
	border: 4px solid #050505;
	line-height: 45px;
	text-align: center;
	font-size: 1.1rem;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #050505;
	margin-bottom: 130px;
	margin-top: 30px;
}

.story .story-right{
	width: 35%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 55px;
}

.story .story-right .story-product{
	text-align: right;
	font-size: 1.2em;
	font-style: italic;
	margin-right: 7px;
}

.story .story-right .story-price{
	width: 64px;
	height: 64px;
	background-color: #fee489;
	line-height: 64px;
	text-align: center;
	border-radius: 100%;
	font-weight: 700;
	font-size: 1.6rem;
}

.contact{
	display: flex;
	align-items: stretch;
	width: 50%;
	padding: 85px 0 60px 90px;
	background: url(../img/Twitter_bg.png) no-repeat bottom right;
}

.contact .form .form_title{
	font-size: 3.7rem;
	font-weight: 500;
	margin-bottom: 33px;
}

.contact .form{
	width: 57%;
	box-sizing: border-box;
}

.contact .form form input{
	width: 47%;
	height: 55px;
}

.contact .form form input,
.contact .form form textarea{
	background-color: #f7fafb;
	border: none;
	color: #898989;
	font-size: 1.2rem;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	padding-left: 23px;
	margin-bottom: 12px;
	border-top: 1px solid rgba(0,0,0,.05);
}

.contact .form form .text{
	width: 100%;
	height: 100px;
	padding-top: 22px;
}

.contact .form form .email{
	float: right;
}

.contact .form form .submit{
	margin-top: 12px;
	width: 128px;
	height: 55px;
	padding: 0;
	font-size: 1.6rem;
	font-weight: 900;
	text-transform: uppercase;
	background-color: #fee489;
	color: #000;
}

.contact .content {
	text-align: center;
	margin-top: 27px;
	margin-left: 72px;
	margin-right: 110px;
	width: 33%;
	box-sizing: border-box;
}

.contact .content .content_img{
	display: block;
	margin: 0 auto;
}

.contact .content .content_user{
	display: block;
	margin: 20px 0;
	font-size: 1.7rem;
	color: #a2a2a2;
	font-style: italic;
}

.contact .content .content_text{
	font-size: 1.9rem;
	font-weight: 500;
}

.contact .content .content_data{
	font-size: 1rem;
	margin-top: 5px;
	display: block;
	color: #a2a2a2;
}


//footer
//=============

.footer{
	background-color: #73485c;
	position: relative;
	overflow: hidden;
	z-index: 10;
	box-sizing: border-box;
}

.footer::after{
	content: 'olins';
	display: block;
	position: absolute;
	bottom: -230px;
	left: 20%;
	font-size: 498px;
	color: #865d71;
	opacity: 0.2;
	font-weight: 900;
	font-style: italic;
	z-index: -1;
	
}

.footer-wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 186px;
	box-sizing: border-box;
}

.footer-wrap .left-box{
	display: flex;
	align-items: center;
	width: 60%;
	box-sizing: border-box;
}

.footer-wrap .left-box .left-box_item{
	width: 33.3%;
}

.footer-wrap .left-box .footer-meta{
	font-size: 1.1rem;
	color: #9c7588;
	padding-right: 60px;
	margin-left: 125px;
	flex-shrink: 3;
}

.footer-wrap .left-box .footer-contact{
	flex-shrink: 2;
}

.footer-wrap .left-box .footer-contact .footer-tell{
	font-size: 1.8rem;
	font-weight: 600;
	color: #fff;
	line-height: 24px;
}

.footer-wrap .left-box .footer-contact .footer-adress{
	color: #fff;
	line-height: 20px;
	font-size: 1.2rem;
}

.footer-wrap .left-box .footer-contact .footer-license{
	font-size: 1.1rem;
	color: #9c7588;
	margin-top: 15px;
}

.footer-wrap .left-box .footer-nav{
	flex-shrink: 1;
}

.footer-wrap .left-box .footer-nav .footer-list{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 100px;
	
}


.footer-wrap .left-box .footer-nav .footer-list .footer-item .footer-item_link{
	font-size: 1rem;
	color: #fee489;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 26px;
}

.footer-wrap .left-box .footer-nav .footer-list .footer-item .footer-item_link__right{
	margin-left: 40px;
}

.footer-wrap .left-box .footer-nav .footer-list .footer-item .footer-item_link:hover{
	border-bottom: 1px solid #fee489;
}

.footer-wrap .right-box{
	width: 30%;
}

.footer-wrap .right-box .footer-social{
	display: flex;
	justify-content: flex-end;
	margin-right: 125px;
}

.footer-wrap .right-box .footer-social .footer-social_link{
	height: 20px;
	width: 20px;
	margin-left: 27px;
	background: url(../img/c-flickr.png) no-repeat center center;
}

.footer-wrap .right-box .footer-social .footer-social_link__twit{
	background: url(../img/c-twitter.png) no-repeat center center;
}

.footer-wrap .right-box .footer-social .footer-social_link__fb{
	background: url(../img/c-fb.png) no-repeat center center;
	width: 21px;
	height: 21px;
}

.footer-wrap .right-box .footer-social .footer-social_link__pint{
	background: url(../img/c-pinterest.png) no-repeat center center;
}



@import "media"; // Always at the end
