@import "vars";
// @import "fonts";
// font-family: 'Playfair Display', serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Montserrat', sans-serif;
//font-family: 'Questrial', sans-serif;
@import "libs";

// common settings
//================

html{
	font-size: 10px;
}

body {
	font-size: 1.4rem;
	min-width: 320px;
	position: relative;
	line-height: 1;
	// font-family: $default-font;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}


//Site

 //burger-menu	
 //===========
 
// .m-menu{
// 	display: none;
// 	width: 30px;
// 	height: 20px;
// 	background-color: #494141;
// 	text-align: center;
// 	position: relativ.header_slider .slide_1 .slide-boxe;
// 	color: #000;
// 	line-height: 20px;
	
// }

// #check-menu{
// 	display: none;
// }

// .label-menu{
// 	display: block;
// 	width: 100%;
// 	height: 100%;
// 	cursor: pointer;
// 	position: absolute;
// 	top: 0;
// 	right: 40px;
// 	z-index: 200;
// 	line-height: 20px;
// }

// .burger-line{
// 	position: absolute;
// 	top: 0px;
// 	right: 40px;
// 	width: 30px;
// 	height: 2px;
// 	background-color: #CBCCCB;
// 	transition: .5s all ease;
// 	z-index: 201;
// }

// .second, .third{
// 	top: 10px;
// }

// .fourth{
// 	top: 20px;
// }

// .main-menu{
// 	position: absolute;
// 	top: 30px;
// 	right: 0px;
// 	display: block;
// 	width: 100vw;
// 	transform: translateX(0%);
// 	max-height: 0;
// 	font-size: 0;
// 	overflow: hidden;
// 	transition: .5s all ease;
// 	z-index: 10;
// }

// .main-menu_link{
// 	display: block;
// 	width: 100%;
// 	text-decoration: none;
// 	background-color: #31344E;
// 	border-top: 1px solid rgba(255, 255, 255, 0.3);
// 	line-height: 40px;
// 	color: #fff;
// 	text-transform: uppercase;
// }

// .main-menu_link:hover{
// 	background-color: #5e5555;
// 	transition: .5s all ease;
// 	color: #fff;

// }

// #check-menu:checked ~ .main-menu{
// 	max-height: 500px;
// 	font-size: 16px;
// }

// #check-menu:checked ~ .first{
// 	display: none;
// }

// #check-menu:checked ~ .second{
// 	transform: rotate(45deg)
// }

// #check-menu:checked ~ .third{
// 	transform: rotate(-45deg)
// }

// #check-menu:checked ~ .fourth{
// 	display: none;
// }

// .nav-trigger {
// 	position: absolute;
// 	clip: rect(0, 0, 0, 0);
// }


//header
//=======

.header_wrap{
	position: relative;
}

.header_slider .slide_1{
	position: relative;
}

.header_slider .slide_1::after{
	content: 'olins';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 29rem;
	font-weight: 900;
	color: #7f5568;
	font-style: italic;
	margin-left: 15%;
	margin-top: -15px;
	opacity: 0.05;
	
}

.header_slider .slide_1 .slide-img img{
	min-width: 100%;
	height: auto;
 }

.header_slider .slide_1 .slide-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header_slider .slide_1 .slide-box .slide-box_wrapper{
	max-width: 994px;
	width: 100%;
	padding-left: 90px;
	box-sizing: border-box;
}

.header_slider .slide_1 .slide-box .sub_title{
	font-family: 'Playfair Display', serif;
	font-size: 2.1rem;
	font-style: italic;
	color: #7f5568;
}

.header_slider .slide_1 .slide-box .title{
	font-size: 4.5rem;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1.1;
	margin-top: 12px;
	margin-bottom: 25px;
}

.header_slider .slide_1 .slide-box .readmore{
	display: flex;
	align-items: center;
	position: relative;
	z-index: 99;
}

.header_slider .slide_1 .slide-box .readmore a{
	font-weight: 500;
	font-size: 1.6rem;
	color: #7f5568;
	border-bottom: 1px solid #7f5568;
	text-decoration: none;
}

.header_slider .slick-arrow{
	position: absolute;
	top: 38%;
	right: 0;
	margin-right: 2%;
	font-size: 0;
	border: none;
	background: #d8c1c8 url(../img/right.svg) no-repeat center center;
	width: 41px;
	height: 41px;
	border-radius: 100%;
	z-index: 9999;
}

.header_slider .slick-prev{
	left: 0;
	margin-left: 2%;
	transform: scale(-1, 1)
}

.header_slider .slick-arrow:hover{
	background: #fee489 url(../img/arrow-hov.svg) no-repeat center center;
	transform: scale(-1, 1);

}

.header_slider .slick-prev:hover{
	transform: scale(1, 1);
}


//nav
//=============

.header-nav{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: space-between;
	background-color: rgba(115,72,92,.9);
}

.header-nav .nav-logo{
	font-size: 4.3rem;
	color: #fff;
	font-weight: 900;
	font-style: italic;
	margin: 20px 0 0 27px;
	width: 20%;
}

.header-nav .nav-menu{
	width: 60%;
}

.header-nav .nav-menu .menu-list{
	width: 500px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto; 
}

.header-nav .nav-menu .menu-item a{
	font-size: 1.3rem;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

.header-nav .nav-menu .menu-item a:hover{
	color: #fee489;
	transition: all 300ms ease;
}
.header-nav .nav-cart{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 20%;
	margin-right: 2%;
}

.header-nav .nav-cart .cart-number{
	width: 21px;
	height: 21px;
	background-color: #fee489;
	text-align: center;
	line-height: 21px;
	border-radius: 100%;
	margin-left: 5px;
	cursor: pointer;
}


//Section About
//=============

.about-wrap{
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-wrap .left-box{
	overflow: hidden;
	width: 50%;
}

.about-wrap .right-box{
	padding: 125px 155px 110px 89px;
	width: 50%;
}

.about-wrap .right-box .subtitle{
	font-family: 'Playfair Display', serif;
	font-size: 2.5rem;
	font-style: italic;	
}

.about-wrap .right-box .title{
	font-size: 3.7rem;
	font-weight: 500;
	margin: 15px 0 35px 0;
}

.about-wrap .right-box .text{
	font-size: 1.4rem;
	color: #898989;
	line-height: 24px;
}


//section skills-and-team
//=======================

.skills-and-team-wrap{
	display: flex;
	justify-content: center;
}

.skills-and-team-wrap .skills-box{
	width: 50%;
	display: flex;
	flex-wrap: wrap;
}

.skills-and-team-wrap .skills-box .skills-box-top,
.skills-and-team-wrap .skills-box .skills-box-bott{
	display: flex;
}

.skills-and-team-wrap .skills-box .skills-box-top{
	padding: 100px 180px 55px 140px;
}

.skills-and-team-wrap .skills-box .skills-box-bott{
	padding: 0 180px 90px 140px;
}

.skills-and-team-wrap .skills-box .skill{
	width: 50%;
}

.skills-and-team-wrap .skills-box .skill:last-child{
	margin-left: 90px;
}

.skills-and-team-wrap .skills-box .skill .skill_title{
	font-size: 1.6rem;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 30px;
	position: relative;
}

.skills-and-team-wrap .skills-box .skill .skill_title::before{
	content: '';
	background: url(../img/dot.svg) no-repeat center center;
	display: block;
	height: 6px;
	width: 6px;
	position: absolute;
	top: 13px;
	left: -13px;
}

.skills-and-team-wrap .skills-box .skill .skill_desc{
	font-size: 1.2rem;
	color: #898989;
	line-height: 18px;
	letter-spacing: 0px;
	margin-top: 12px;
}

.skills-and-team .right-box{
	background-color: #b7e3b9;
	width: 50%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.right-box .box-arrows .slick-prev,
.right-box .box-arrows .slick-next{
	padding: 0;
	border: none;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -20px;
	background-color: #ec9b9b;
	width: 40px;
	height: 40px;
}
.right-box .box-arrows .slick-next{
	margin-top: -60px;

}

.right-box .box-slider{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	width: 740px;
}

.right-box .box-slider .box-slide .box-slide_img{
	position: relative;
}

.right-box .box-slider .box-slide .box-slide_img .social{
	width: 100%;
	height: 65px;
	background-color: rgba(115,75,19,0.5);
	position: absolute;
	left: 0;
	bottom: 0;
	transition: all 1s ease;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.right-box .box-slider .box-slide .box-slide_img:hover .social{
	opacity: 1;
	transition: all 0.3s ease;
}

.right-box .box-slider .box-slide .box-slide_img:hover .social .social_tw{
	display: block;
	height: 20px;
	width: 20px;
	background: url(../img/social-tw.png);
}

.right-box .box-slider .box-slide .box-slide_img:hover .social .social_fb{
	display: block;
	height: 21px;
	width: 21px;
	background: url(../img/social-fb.png);
	margin-left: 10px;
}

.right-box .box-slider .box-slide_specialist {
	font-weight: 700;
	font-size: 1.8rem;
	margin: 20px 0 8px 0;

}

.right-box .box-slider .box-slide_posicion {
	font-size: 1rem;
	color: #557356;
	font-family: 'Questrial', sans-serif;
}






@import "media"; // Always at the end
